* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-background {
  background: whitesmoke;
}

.div-header {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
}

.div-contents {
  width: 800px;
  margin: 0 auto;
  background: white;
  padding: 50px 10px;
}

.div-footer {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0 auto;
}

.div-titlelogo {
  max-width: 800px;
  margin: 0 auto;
}

.div-titlelogo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
}

.h1-title {
  text-align: center;
  margin: 0px 0px 0px 50px;
}

.h2-profile {
  margin: 30px 0;
}

.h3-profile {
  margin: 20px 10px;
}

.h4-profile {
  margin: 10px 20px;
}

.p-profile {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0px 20px;
}

.p-header {
  text-align: center;
  margin: auto 0;
}

.p-footer {
  text-align: center;
  margin: auto 0;
}
