* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-header {
  height: 50px;
  background: #ffffff;
  color: #000000;
}

.div-contents {
  height: 50px;
  width: 800px;
  margin: 0 auto;
  background: #55555;
  color: #ffffff;
}

.div-footer {
  height: 50px;
  background: #ffffff;
  color: #000000;
}

.div-imgwrap {
  max-width: 1000px;
  margin: 0 auto;
}

.div-imgwrap img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
}

.h1-title {
  text-align: center;
  margin: 50px 0;
}

.h2-profile {
  text-align: center;
  margin: 50px 0;
  text-decoration: underline;
}

.p-profile {
  text-align: center;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
